pymysql
appdirs 
asgiref 
black 
click 
colorama 
Django 
qrcode[pil]
reportlab
django-widget-tweaks 
flake8 
isort 
mccabe 
mypy-extensions 
pathspec 
Pillow 
pycodestyle 
pyflakes 
pytz 
regex 
sqlparse 
tomli 


