{% extends 'base.html' %}

{% block title %}Students{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="studenttable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Name</th>
          <th>Enrollment Number</th>
          <th>Course</th>
          <th>Gender</th>
          <th>Phone Number</th>
          <th>Status</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>

        {% for student in students %}
          <tr class='clickable-row' data-href="{% url 'student-detail' student.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ student.student_name}}</td>
            <td>{{ student.enrol_no}}</td>
            <td>{{ student.course}}</td>
            <td>{{ student.gender}}</td>
            <td>{{ student.mobile_number}}</td>
            <td>{{ student.get_current_status_display}}</td>
            <td><a href="{% url 'public_student_profile' student.id%}"><input type="button" class="btn btn-sm btn-primary" value="View"></a><td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#studenttable').DataTable({
  });
</script>

{% endblock morejs %}
